{% extends "layout.html" %}

{% block body %}
    <div class="container-fluid bg-light text-center p-5">
        <h1>Welcome to Flask Application</h1>
        <p class="lead"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, blanditiis inventore voluptate error, accusamus totam voluptatibus pariatur numquam nostrum velit hic vel commodi nesciunt mollitia atque dolores ratione! Unde, mollitia! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque corrupti recusandae consequuntur, adipisci necessitatibus fugit numquam? Consequatur, iste cumque blanditiis quae dolorem dolorum laborum odit quibusdam nobis sunt quas neque veritatis recusandae corrupti aliquid amet obcaecati inventore ab, quo nesciunt. Incidunt eius eveniet architecto neque praesentium. Non reprehenderit molestiae quia.</p>
    </div>
{% endblock %}